<span class='<%=node_css(node)%>'><%=node.name%></span>/<span class='<%=tree_css(node.tree)%>'><%=node.tree.name%></span>

<%= link_to "&larr;", controller: :node, action: :node, id: node.prev.id if node.prev %>
<%= link_to "[#{node.id}]", controller: :node, action: :node, id: node.id%>
<%= link_to "&rarr;", controller: :node, action: :node, id: node.replacement.id if node.replacement %>
