<%  render partial: 'node/sidebar' %>

<h1>Node <%= render partial: "node/node", object: @n%></h1>

<div>
	<% if @n.end? %>
	<p>
		Node 0 is the end node. The end node is used as the 'next' verision of nodes that are deleted. This
		distinguishes delete nodes from nodes which have been orpahned - not replaced, but not part of the
		current tree anymored.
	</p>
	<p>
		The end node cannot be edited, and it's URI is a constant that is shared across all realisations of the data structure.
	</p>
	<% elsif @n.top?
			if @n.root_of.workspace?
			%>
			<p>
				This node is the top node of a workspace. These nodes stay in 'draft' status and cannot be finalised. Like any other draft node, you can adopt nodes from other
				trees and create new nodes.
			</p>
			<%
			else
			%>
			<p>
				This node is the top node of a tree. These nodes are final and cannot be edited. However, they have one subnode - the current root node of the tree. This is attached with a
				following link, meaning that this top node will always point to the current version.
			</p>
			<%
			end
	   elsif @n.draft? %>
		<p>
			This node is a draft node. Most editing operations can be performed on it, and it can be finalised. 
		</p>
	<% else %>
		<p>
			This is a final node. Final nodes cannot be edited. However, if a final node has been adopted into a workpsace, then it can be 'checked out' in the context of that workspace - new draft nodes created in the workspace
			modelled on this node. 
		</p>
		<% if @n.current? %>
		<p>
			This node also is a 'current' node - one that has never been versioned. It can be used as the new version of some other node and it can be replaced with a new version.
		</p>
		<% else %>
		<p>
			This node has been replaced. It is no longer actively versioned and cannot participate in versioning operations. 
		</p>
		<% end %>
	
	<% end %>
	
	<p>
		Although certain operations "cannot" be done on this node, this web application will permit you to try to perform them. The changes will be rejected at the database layer, and you will see a
		more-or-less meaningful error.
	</p>
</div>

<div>
	<h3>Node usage</h3>
	<% @placements.each do | k, v | %>
		<div>
			<% v.each do | nugget | %>
				<div>
					<%= render partial: 'node/node', locals: { node: nugget.supernode } %>
					<span class="<%=link_css(nugget.link)%>"><%= render inline: link_symbol(nugget.link) %></span>
					<% if nugget.supernode.current? && !nugget.placements.empty? %>
						in
						<% nugget.placements.each do |t| %>
							<%= render partial: 'tree/tree', object: t %>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
	
</div>

<% if !@n.replacement_of.empty? %>
<div><h3>Merges</h3></div>
<% @n.replacement_of.each do | nn| %>
<%= render partial: "node/node", object: nn %>
<% end %>
<% end %>

<% if !@n.copies.empty? %>
<div><h3>Branches</h3></div>
<% @n.copies.each do | nn| %>
<%= render partial: "node/node", object: nn %>
<% end %>
<% end %>

<div>
	<h3>Tree structure</h3>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span1" style="font-size: 80%;">
				<h5>Older versions</h5>
				<%
					nn = @n.copy_of
					nn = nn.copy_of if nn
					while nn
						
				%>
						<div><%= render partial:'node/node', object:nn %></div>
				<%
						nn = nn.copy_of
					end
					
				%>
			</div>				
			<div class="span3">
				<!-- These are listed 99 deep for development purposes -->
				<h5>Previous version</h5>
	<%= render partial: 'node/tree_structure', locals: {node: @n.copy_of, depth: 99}%>
			</div>
			<div class="span4">
				<h5>This version</h5>
	<%= render partial: 'node/tree_structure', locals: {node: @n, depth: 99}%>
			</div>
			<div class="span3">
				<h5>Replacement version</h5>
	<%= render partial: 'node/tree_structure', locals: {node: @n.replacement, depth: 99}%>
			</div>
			<div class="span1" style="font-size: 80%;">
				<h5>Later versions</h5>
				<%
					nn = @n.replacement
					nn = nn.replacement if nn
					while nn
						
				%>
						<div><%= render partial:'node/node', object:nn %></div>
				<%
						nn = nn.replacement
					end
					
				%>
			</div>				
		</div>
	</div>
</div>

<%= render partial: "edit/sql_results" %>
