<% render partial: 'workspace/sidebar' %>

<h1>Workspace: <span class="<%=tree_css(@ws)%>"><%=@ws.name%></span></h1>

<% if @ws.node.subnode_link.empty? %>
	<div class="muted">This workspace is empty.</div>
<% end %>

<div>
<p>
	To add or remove items from the workspace, add or remove items from its <%= link_to 'top node', controller: :node, action: :node, id: @ws.node.id %>.
</p>
</div>

<% @ws.node.subnode_link.each do | l | %>
	<span class="<%=link_css(l)%>"><%= render inline: link_symbol(l)%></span>
	<%= render partial: 'node/node', object: l.subnode %>
	<br/>
<% end %>

<%= render partial: "edit/sql_results" %>
