<% if ! defined? tree %>
<span class='<%=tree_css(nil)%>'><%=render partial: 'tree/treename', object: tree%></span>
<% elsif tree.nil? %>
<span class='<%=tree_css(nil)%>'><%=render partial: 'tree/treename', object: tree%></span>
<% elsif tree.end? %>
<span class='<%=tree_css(tree)%>'><%=render partial: 'tree/treename', object: tree%></span>
<% else %>
<%= link_to (render partial: 'tree/treename', object: tree), {controller: tree.tree? ? :tree : :workspace, action: tree.tree? ? :tree : :workspace, id: tree.id}, {class: tree_css(tree) } %>
<% end %>