<% render partial: 'tree/sidebar' %>

<h1>Tree: <%= render partial:'tree/tree', object: @t %></h1>

<div>
<p>
	This tree is bound to the URI <tt><%=@t.node.uri%></tt> by its <%= link_to 'top node', controller: :node, action: :node, id: @t.node.id %>.
	To add or remove items from the tree, check out its <%= link_to 'current root node', controller: :node, action: :node, id: @t.node.subnode_link.first.subnode.id %> into a workspace.
</p>
</div>


<h3>History</h3>
<table>
	<%
		nn = @t.node.subnode_link.first.subnode
		while nn
	%>
			<tr><td><%=nn.created_at%></td><td><%= render partial:'node/node', object:nn %></td></tr>
	<%
			nn = nn.copy_of
		end
		
	%>
</table>

<h3>Current</h3>

<%= render partial: 'node/tree_structure', locals: {node: @t.node, depth: 99}%>

<%= render partial: "edit/sql_results" %>
