<% content_for :sidebar_extra_actions do %>
  <li>List orphans</li>
<% end %>  

<% content_for :sidebar do
  render partial: 'edit/sidebar'
end  %>


<h1>Tree: <span class="<%=tree_css(@t)%>"><%=@t.name%></span></h1>

<div>
<p>
	This tree is bound to the URI <tt><%=@t.node.uri%></tt> by its <%= link_to 'top node', controller: :node, action: :node, id: @t.node.id %>.
	To add or remove items from the tree, check out its <%= link_to 'current root node', controller: :node, action: :node, id: @t.node.subnode_link.first.subnode.id %> into a workspace.
</p>
</div>


<table>
	<legend>History</table>
	<%
		nn = @t.node.subnode_link.first.subnode
		while nn
	%>
			<tr><td><%=nn.created_at%></td><td><%= render partial:'node/node', object:nn %></td></tr>
	<%
			nn = nn.copy_of
		end
		
	%>
</table>

<%= render partial: "edit/sql_results" %>
