<ul  class="nav nav-list">
	<li><%= link_to "About", {controller: :edit, action: :about} %></li>
	<li><%= link_to "Test", {controller: :edit, action: :test} %></li>
	<li><%= link_to "List trees", {controller: :edit, action: :list_trees} %></li>
	<li><%= link_to "List workspaces", {controller: :edit, action: :list_workspaces} %></li>
	<li><hr></li>
	<li><%= link_to "Create a tree", {controller: :edit, action: :create_tree_form} %></li>
	<li><%= link_to "Create a workspace", {controller: :edit, action: :create_workspace_form} %></li>
	
	<%= yield :sidebar_extra_actions %>
	
	<li><hr></li>
	<li><%= link_to "Clear all data", {controller: :edit, action: :clear_tree_form} %></li>
</ul>
