<% 
# this is dumb, and it's because I don't understand how erb gets done
if flash[:message]
  flash[:message].each do | msg |
  %>
    <div class="messages-alert  alert-<%= msg.alertcss %> messages-alert">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
      <% if msg.extra %>
        <strong><%= msg.msg %></strong> <%= msg.extra %>
      <% else %>
        <%= msg.msg %>
      <% end %>
      <%= render partial: 'layouts/msglist', object: msg %>
    </div>
  <%
  end
end
%>
