<div style="margin: 0">
	<span class="badge badge-<%=msg.cssclass%>">&#x200B;</span>
	<%
	if msg.extra
	%>
		<strong><%= msg.msg%></strong> <%= msg.extra.inspect %>
	<%
	else
	%>
		<%= msg.msg%>
<%
	end
%>
<%
if not msg.empty?
%>
	<div style="margin-top: 0; margin-bottom:0; margin-left: 2em; margin-right:0;">
		<%= render partial: 'layouts/msglist', object: msg %>
	</div>
<% end %>	
</div>
