<div class="navbar navbar-default">
	<div class="navbar-inner">
		<%= link_to "Boatree test app", {controller: :home, action: :index}, {class: 'brand' } %>
		<ul class="nav">
			<li>
				<%= link_to "About", {controller: :home, action: :index} %>
			</li>
			<li>
				<%= link_to "Edit", {controller: :edit, action: :about} %>
			</li>
			<li>
				<%= link_to "Versioning", {controller: :versioning, action: :index} %>
			</li>
			<li>
				<%= link_to "Validate", {controller: :validate_data, action: :index} %>
			</li>
		</ul>
	</div>
</div>
